logging:
  level: debug
datadir: ./data
apikey: xxxx
gtfs:
  specs: https://itsmarta.com/google_transit_feed/google_transit.zip
  bus:
    vehicles: https://gtfs-rt.itsmarta.com/TMGTFSRealTimeWebService/vehicle/vehiclepositions.pb
    trips: https://gtfs-rt.itsmarta.com/TMGTFSRealTimeWebService/tripupdate/tripupdates.pb
rail:
  rest: http://developer.itsmarta.com/RealtimeTrain/RestServiceNextTrain/GetRealtimeArrivals?apikey=
